---
layout: default_light
theme: light
---
<h2 class="post_title">{{page.title}}</h2>
<ul>
  {% for post in site.posts %}
  {% if page.theme == post.theme %}
  {% for tag in post.tags %}
  {% if tag == page.tag %}
  <li class="tag_meta_list_item">
    <div class="tag_meta_wrapper">
	    <h3><a class="tag_list_article_link" href='{{post.url}}'>{{post.title}}</a></h3>
	    <time datetime='{{post.date | date: "%Y-%m-%d"}}'>{{post.date | date: "%B %e, %Y"}}</time>
	    <div class="tag_list_wrapper">
	    <ul class="tag_list">
	      {% for tag in post.tags %}
	        <li class="tag_list_item"><a class="tag_list_link" href="/tag/{{ tag }}">{{ tag }}</a></li>
	      {% endfor %}
	    </ul>
	    </div>
	    <p class="tag_post_summary">{{post.summary}}</p>
    </div>
  </li>
  {% endif %}
  {% endfor %}
  {% endif %}
  {% endfor %}
</ul>
