---
layout: default_light
---
<h2 class="post_title">{{page.title}}</h2>
<ul>
  {% for post in site.posts %}
  {% if page.layout contains post.theme %}
  {% for tag in post.tags %}
  {% if tag == page.tag %}
  <li class="archive_list">
    <!-- <time datetime="{{page.date | date: "%Y-%m-%d"}}">{{page.date | date: "%B %e, %Y"}}</time> -->
    <!-- <time style="color:#666;font-size:11px;" datetime='{{post.date | date: "%Y-%m-%d"}}'>{{post.date | date: "%m/%d/%y"}}</time> <a class="archive_list_article_link" href='{{post.url}}'>{{post.title}}</a> -->
    <time style="color:#666;font-size:11px;" datetime='{{post.date | date: "%B %e, %Y"}}'>{{post.date | date: "%m/%d/%y"}}</time>
    <h3><a class="archive_list_article_link" href='{{post.url}}'>{{post.title}}</a></h3>
    <p class="summary">{{post.summary}}</p>
    <ul class="tag_list">
      {% for tag in post.tags %}
      <li class="inline archive_list"><a class="tag_list_link" href="/tag/{{ tag }}">{{ tag }}</a></li>
      {% endfor %}
    </ul>
  </li>
  {% endif %}
  {% endfor %}
  {% endif %}
  {% endfor %}
</ul>
